:root {
  //fonts
  --main-font: 'Montserrat', sans-serif;
  //colors
  --primary-color: #242539;
  --secondary-color: #f9f9f9;
  --accent-color: #ed2985;
  --placeholder-color: #676774;
  --hero-title-color: #ffffff;
  --hero-description-color: #bcbec0;
  --second-part-logo-primary-color: #bcbec0;
  --second-part-logo-secondary-color: #7a7a85;
  // background-colors
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f3f3f5;
  --footer-bg-color: #121221;
  --hero-bg-color: #242539;
  --input-bg-color: #1e1e2c;
  // others
  --header-border-color: #3e3f51;
  --disactive-color: #dadada;
}
