<section class="awards-and-prizes-section section">
    <div class="container">
        <h2 class="awards-and-prizes-title title">Awards and Prizes</h2>
        <ul class="awards-and-prizes-list">
            <li class="awards-and-prizes-list-item item">
                <img src="../images/awards-and-prizes/first-prize.png" alt="first prize">
            </li>
            <li class="awards-and-prizes-list-item item">
                <img src="../images/awards-and-prizes/second-prize.png" alt="second prize">
            </li>
            <li class="awards-and-prizes-list-item item">
                <img src="../images/awards-and-prizes/third-prize.png" alt="third prize">
            </li>
        </ul>
    </div>
</section>