<section class="featured-cases-section section">
    <div class="container">
        <ul class="featured-cases-list">
            <li class="featured-cases-list-item item">
                <a href="#">
                    <div class="featured-cases-image-thumb">
                        <img src="images/featured-cases/google-integration.png" alt="Google integration">
                    </div>
                    <p class="flag">Software</p>
                    <h3 class="featured-cases-title">Google integration</h3>
                    <p class="featured-case-description">Service that would include travel search inventory so the hotels and home...</p>
                </a>
            </li>
            <li class="featured-cases-list-item item">
                <a href="#">
                    <div class="featured-cases-image-thumb">
                        <img src="images/featured-cases/speed-up-of-server-response.png" alt="Speed-up of server response">
                    </div>
                    <p class="flag">Software</p>
                    <h3 class="featured-cases-title">Speed-up of server response</h3>
                    <p class="featured-case-description">Service that would include travel search inventory so the hotels and
                        home...</p>
                </a>
            </li>
        </ul>
        <a href="#" class="featured-cases-button link-button">All Case Studies</a>
    </div>
</section>