<footer class="footer">
    <div class="container">
        <a href="index.html" class="footer-logo">
            <svg class="first-part-logo">
                <use href="./images/sprite.svg#logo"></use>
            </svg>
        </a>
        <ul class="social-links-list">
            <li class="social-links-list-item item">
                <a href="#" class="social-link link">
                    <svg class="social-link-svg">
                        <use href="./images/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="social-links-list-item item">
                <a href="#" class="social-link link">
                    <svg class="social-link-svg">
                        <use href="./images/sprite.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-links-list-item item">
                <a href="#" class="social-link link">
                    <svg class="social-link-svg">
                        <use href="./images/sprite.svg#linkedin"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <ul class="footer-list">
            <li class="footer-list-item">
                <h3 class="footer-list-item-title">Services</h3>
                <ul class="footer-sublist">
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">Web Development</a>
                    </li>
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">Cloud Solutions</a>
                    </li>
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">IT Consulting</a>
                    </li>
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">Quality Assurance</a>
                    </li>
                </ul>
            </li>
            <li class="footer-list-item">
                <h3 class="footer-list-item-title">Resources</h3>
                <ul class="footer-sublist">
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">Blog</a>
                    </li>
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">Case Studies</a>
                    </li>
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">Glossary</a>
                    </li>
                </ul>
            </li>
            <li class="footer-list-item">
                <h3 class="footer-list-item-title">Travel & Hospitality</h3>
                <ul class="footer-sublist">
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">OTAs solutions</a>
                    </li>
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">Tour operators solutions</a>
                    </li>
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">PMS\HMS solutions</a>
                    </li>
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">CRS solutions</a>
                    </li>
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">CRM</a>
                    </li>
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">Restaurant Management Software solutions</a>
                    </li>
                </ul>
            </li>
            <li class="footer-list-item">
                <h3 class="footer-list-item-title">Company</h3>
                <ul class="footer-sublist">
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">About Us</a>
                    </li>
                    <li class="footer-sublist-item">
                        <a href="#" class="footer-sublist-link link">Careers</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="latest-in-blog">
            <h3 class="latest-in-blog-title">Latest in blog</h3>
            <ul class="latest-in-blog-list">
                <li class="latest-in-blog-list-item">
                    <a class="latest-in-blog-list-link link" href="#">
                        <div class="date">
                            <span class="day">30</span>
                            <span class="month">DEC</span>
                        </div>
                        <p class="latest-in-blog-list-item-description">
                            Travel Ban Influences the 2021 Industry Software. In-depth Review of the Existing...
                        </p>
                    </a>
                </li>
                <li class="latest-in-blog-list-item">
                    <a class="latest-in-blog-list-link link" href="#">
                        <div class="date">
                            <span class="day">04</span>
                            <span class="month">DEC</span>
                        </div>
                        <p class="latest-in-blog-list-item-description">
                            Software Development Business Model: Which One Will Work for Your Business?
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <p class="copyright">© ASD, 2020. All rights reserved</p>
        <div class="header">
            <nav class="main-nav">
                <a href="index.html" class="header-logo">
                    <svg class="first-part-logo">
                        <use href="./images/sprite.svg#logo"></use>
                    </svg>
                    <span class="second-part-logo">Advanced Software Development</span>
                </a>
                <ul class="nav-list">
                    <li class="nav-list-item"><a class="nav-list-link link current" href="#">Home</a></li>
                    <li class="nav-list-item"><a class="nav-list-link link" href="#">How we work</a></li>
                    <li class="nav-list-item"><a class="nav-list-link link" href="#">Expertise</a></li>
                    <li class="nav-list-item"><a class="nav-list-link link" href="#">Portfolio</a></li>
                    <li class="nav-list-item"><a class="nav-list-link link" href="#">About us</a></li>
                    <li class="nav-list-item"><a class="nav-list-link link" href="#">Blog</a></li>
                    <li class="nav-list-item">
                        <a class="nav-list-link link" href="#">Careers</a>
                        <ul class="submenu">
                            <li class="submenu-item">
                                <a class="submenu-link link" href="#">Educational center</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>