<section class="our-partners-say-section section">
    <div class="container">
        <h2 class="section-title our-partners-say-title">Our Clients Say</h2>
        <ul class="our-partners-say-list">
            <li class="our-partners-say-list-item">
                <p class="client-respond">Advanced Software Development (ASD Ltd)'s team provided high-quality development work. The software remains effective
                after two years and the codebase can be easily extended. The project was completed on a good budget and their team was
                very responsive.</p>
                <div class="client-info">
                    <img src="./images/our-clients-say/andres-mellik.jpg" alt="Andres Mellik CEO, Cognuse Inc.">
                    <div class="client-description">
                        <p class="client-name">Andres Mellik</p>
                        <p class="client-position">CEO, Cognuse Inc.</p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="buttons-handler">
            <button type="button" class="icon-prev-button">
                <svg class="icon-svg" width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 6H23M1 6L6.5 11.5M1 6L6.5 0.5" stroke="#242539" />
                </svg>
            </button>
            <button type="button" class="icon-next-button">
                <svg class="icon-svg" width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 6H0M22 6L16.5 11.5M22 6L16.5 0.5" stroke="#242539" />
                </svg>
            </button>
        </div>
    </div>
</section>