<section class="our-partners-and-clients-section section">
    <div class="container">
        <h2 class="section-title our-partners-and-clients-title">Our Partners and Clients</h2>
        <ul class="our-partners-and-clients-list">
            <li class="our-partners-and-clients-item">
                <a href="#" class="our-partners-and-clients-link">
                    <img src="images/our-partners-and-clients/booking-pal.png" alt="booking-pal" class="our-partners-and-clients-image">
                </a>
            </li>
            <li class="our-partners-and-clients-item">
                <a href="#" class="our-partners-and-clients-link">
                    <img src="images/our-partners-and-clients/finceptiv.png" alt="finceptiv" class="our-partners-and-clients-image">
                </a>
            </li>
            <li class="our-partners-and-clients-item">
                <a href="#" class="our-partners-and-clients-link">
                    <img src="images/our-partners-and-clients/biz-swoop.png" alt="biz-swoop" class="our-partners-and-clients-image">
                </a>
            </li>
            <li class="our-partners-and-clients-item">
                <a href="#" class="our-partners-and-clients-link">
                    <img src="images/our-partners-and-clients/financial-inteligence.png" alt="financial-inteligence" class="our-partners-and-clients-image">
                </a>
            </li>
        </ul>
    </div>
</section>