<section class="services-section section">
    <div class="container">
        <h2 class="services-title title">Services</h2>
        <ul class="services-list">
            <li class="services-list-item item">
                <a href="#" class="servises-link link">WEB development</a>
                <div class="services-sub-section">
                    <p class="services-sub-section-description">We offer web development services of any complexity for all business sizes. Using only time-tested web development tools
                    we deliver accessible web applications that boost users' experience and ensure continuous performance.</p>
                    <img src="./images/services/web-development.png" alt="WEB development">
                </div>
            </li>
            <li class="services-list-item item">
                <a href="#" class="servises-link link">CLOUD SOLUTIONS</a>
                <div class="services-sub-section">
                    <p class="services-sub-section-description">We offer web development services of any complexity for all business
                        sizes. Using only time-tested web development tools
                        we deliver accessible web applications that boost users' experience and ensure continuous performance.</p>
                    <img src="./images/services/web-development.png" alt="WEB development">
                </div>
            </li>
            <li class="services-list-item item">
                <a href="#" class="servises-link link">IT Consulting</a>
                <div class="services-sub-section">
                    <p class="services-sub-section-description">We offer web development services of any complexity for all business
                        sizes. Using only time-tested web development tools
                        we deliver accessible web applications that boost users' experience and ensure continuous performance.</p>
                    <img src="./images/services/web-development.png" alt="WEB development">
                </div>
            </li>
            <li class="services-list-item item">
                <a href="#" class="servises-link link">Quality Assurance</a>
                <div class="services-sub-section">
                    <p class="services-sub-section-description">We offer web development services of any complexity for all business
                        sizes. Using only time-tested web development tools
                        we deliver accessible web applications that boost users' experience and ensure continuous performance.</p>
                    <img src="./images/services/web-development.png" alt="WEB development">
                </div>
            </li>
        </ul>
        <a href="#" class="services-button link-button">All Services</a>
    </div>
</section>