<section class="services-section">
    <div class="container">
        <h2 class="services-title section-title">Services</h2>
        <ul class="services-list">
            <li class="services-list-item item">
                <a href="#" class="services-link link">WEB development</a>
                <div class="services-sub-section">
                    <p class="services-sub-section-description">We offer web development services of any complexity for all business sizes. Using only time-tested web development tools
                    we deliver accessible web applications that boost users' experience and ensure continuous performance.</p>
                    <img src="./images/services/web-development.png" alt="WEB development">
                </div>
            </li>
            <li class="services-list-item item">
                <a href="#" class="services-link link">CLOUD SOLUTIONS</a>
            </li>
            <li class="services-list-item item">
                <a href="#" class="services-link link">IT Consulting</a>
            </li>
            <li class="services-list-item item">
                <a href="#" class="services-link link">Quality Assurance</a>
            </li>
        </ul>
        <a href="#" class="services-button link-button">All Services</a>
        <img class="services-image" src="./images/services/web-development.png" alt="WEB development">
        <p class="services-description">We offer web development services of any complexity for all business sizes.
            Using only time-tested web development tools
            we deliver accessible web applications that boost users' experience and ensure continuous performance.</p>
    </div>
</section>