<section class="technology-partner-section section">
    <div class="container">
        <h2 class="section-title technology-partner-title">ASD As a Technology Partner</h2>
        <div class="technology-partner-handler">
        <div class="technology-partner-image-thumb">
            <img src="images/technology-partner/technology-partner.jpg" alt="technology-partner-photo">
        </div>
            <div class="technology-partner-handler-description">
                <ol class="technology-partner-list">
                    <li class="technology-partner-list-item item">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna
                        aliqua.</li>
                    <li class="technology-partner-list-item item">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna
                        aliqua.</li>
                    <li class="technology-partner-list-item item">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna
                        aliqua.</li>
                </ol>
                <a href="#" class="technology-partner-button link-button">Learn More</a>
            </div>
        </div>
    </div>
</section>