<section class="tell-us-about-your-idea-section section">
    <div class="container">
        <h2 class="tell-us-about-your-idea-title section-title">Tell Us About Your Idea</h2>
        <p class="explanation">Share the details of your project – like scope, timeframes, or business challenges you'd like to solve.
        <br>
        Our team will carefully study them and then we’ll figure out the next move together.</p>
        <form class="tell-us-about-your-idea-form">
            <input class="input" type="text" name="username" placeholder="Name">
            <input class="input" type="email" name="email" placeholder="E-mail">
            <textarea class="text-area" name="feedback" rows="5" placeholder="Tell your idea..."></textarea>
            <button type="submit" class="submit-button">Submit</button>
        </form>
        <p class="form-question">Don’t like forms?</p>
        <p class="form-answer">You can always contact us at <a class="mail-link" href="mailto:info@asd-team.com">info@asd-team.com</a></p>
    </div>
</section>