<section class="travel-and-hospitality-section">
    <div class="container">
        <p class="pre-title">Industries We Serve</p>
        <h2 class="section-title travel-and-hospitality-title">Travel & Hospitality</h2>
        <p class="travel-and-hospitality-description">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
        <a href="#" class="travel-and-hospitality-button link-button link">Read More</a>
    </div>
</section>